* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  /* padding: 0 1.2rem; */
  background-color: rgba(243, 242, 250, 0.322);
  position: relative;
}

.overlay {
  display: none;
  width: 100vw;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.308);
  z-index: 3;
}

.dashboard-grid {
  display: grid;
  max-width: 130rem;
  height: 100vh;
  grid-template-columns: 1fr 5fr 0.5fr;
  padding: 1.2rem 1.4rem;
  column-gap: 1.8rem;
}

.dashboard-sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.4fr 1.6fr;
}

.dashboard-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-title {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #333;
}

.dashboard-heading-span {
  color: #51eb82;
}

.list-container {
  display: grid;
  grid-template-columns: 1fr;
  /* justify-items: center; */
  row-gap: 1.8rem;
  list-style: none;
  grid-column: 1/2;
  grid-row: 2/3;
}

.list-section {
  display: flex;
  padding: 0 1.6rem;
  align-items: center;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 300ms;
}

.list-section:hover {
  transform: scale(1.1);
  background-color: #9775fa;
}

.list-section:hover .list-section-link {
  font-weight: 600;
  color: #fff;
}

.list-section-active {
  transform: scale(1.1);
  background-color: #9775fa;
}

.list-section-active .list-section-link {
  font-weight: 600 !important;
  color: #fff !important;
}

.list-section-link:link,
.list-section-link:visited {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  flex-grow: 1;
  font-size: 1.6rem;
  font-weight: 500;
  color: #666;
  text-decoration: none;
}

.list-section-link:hover,
.list-section-link:active {
  color: #fff;
}

.dashboard-sidebar-icon {
  width: 1.8rem;
  height: 1.8rem;
}

/* main section */

.main-content {
  overflow: auto;
  display: block;
  position: relative;
  transition: display 3000ms ease-in-out;
}
.main-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1.6fr 1.4fr;
  row-gap: 1.2rem;
}

.main-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.main-heading-link:link,
.main-heading-link:visited {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  color: #333;
}

.link-highlight {
}

.link-active {
  border-bottom: 0.3rem solid #51ec82;
}

.main-heading-link:hover,
.main-heading-link:active {
  color: #555;
}

.task-information {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  column-gap: 1.8rem;
}

.slider-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 2/5;
  column-gap: 1.2rem;
  overflow: hidden;
}

.task-card-content {
  width: 70rem;
  grid-column: 2/5;
  overflow: hidden;
  position: relative;
  /* background: none; */
}

.slide-task-holder {
  display: grid;
  width: inherit;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-column: 2/5;
  column-gap: 2.1rem;
  padding: 0 1.8rem;
  /* background: none; */
  position: absolute;
  transition: transform 1000ms;
}

/* refactor */

/* .slider-card {
  
  width: 90%;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.103);
  border: 0.1rem solid rgba(238, 238, 238, 0.87);

  border-radius: 1.6rem;
  background-color: #fff;
}

.grid-content-2 {
  
  background-color: #f3f0ff;
}

.card-mytask {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  padding: 1.2rem 1.6rem;
  row-gap: 1.8rem;
}

.my-task-img {
  width: 100%;
  height: 15rem;
  border-radius: 1.2rem;
}

.my-task-heading {
  font-size: 1.6rem;
  color: #333;
  
}

.task-button {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 1.6rem;
  border: none;
  border-radius: 1.2rem;
  background-color: #845ef7;
  color: #fff;
  justify-self: end;
  cursor: pointer;
}

.task-button:hover {
  background-color: #9775fa;
}  */

/* refactor */

/* remain */

.slider-button-container {
  position: relative;
}

.slider-button {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.041);
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.082);
  cursor: pointer;
}

.slider-button:hover {
  background-color: #9775fa;
}

.slider-button:hover .slider-icon {
  color: #fff;
}

.slider-button-left {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider-button-right {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider-icon {
  width: 3rem;
  height: 3rem;
  color: #9775fa;
}

.chat-bar {
  display: grid;
  padding: 1.2rem 1.4rem;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 3fr;
  border-radius: 15rem;
  box-shadow: 0 0 1.4rem rgb(228, 222, 252);
  grid-column: 3/4;
}

.chat-user {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

.chat-icon {
  filter: brightness(90%);
}

.chat-icon:hover {
  filter: brightness(100%);
}

.statistic {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  column-gap: 2.4rem;
}

.earning-flex {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  padding: 2.4rem 0;
  grid-column: 2/3;
}

.earn-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  flex-grow: 1;
  column-gap: 1.2rem;

  border-radius: 1.6rem;
  padding: 1.6rem 2.4rem;
  background-color: #fff;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.062);
}

.transaction-history {
  display: grid;
  grid-template-columns: 1fr;

  grid-column: 3/5;
  padding: 1.2rem 0;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.icon-earn-container {
  display: flex;
  grid-row: 1/3;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 1.2rem;
}

.icon-container-background-1 {
  background-color: #e3fafc;
}

.icon-statistics:nth-child(1) {
  color: #7fcffa;
}

.grand-total {
  font-size: 1.4rem;
  font-weight: 700;
  transform: scale(1.1);
}

.icon-statistics {
  width: 3.6rem;
  height: 3.6rem;
}

.history-checkpoint {
  display: flex;
  flex-direction: column;
  height: 21rem;
  overflow-x: hidden;
  overflow-y: scroll;

  background-color: #fff;
  box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.103);
  border-radius: 1.6rem;
}

.transaction-detail {
  display: flex;
  align-items: center;
  gap: 2.6rem;
  padding: 0.5rem 2.2rem;
  border-bottom: 1px solid rgba(136, 136, 136, 0.103);
}

.customer-img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.transaction-date {
  font-size: 1.2rem;
  font-weight: 600;
  color: #555;
  line-height: 1.2;
}

.transaction-fee {
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: auto;
}

.total-info {
  font-size: 1.4rem;
  font-weight: 700;
  justify-self: center;
  letter-spacing: -0.1rem;
  color: #333;
}

/*  */
.browse-task--section {
  max-width: 82rem;
  /* height: 70rem; */
  padding: 1.2rem 3.6rem;
}

.search-task--section,
.post-task--section {
  display: grid;
  width: 100%;
  margin: 0 auto;

  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0 2.8rem;
  column-gap: 4.8rem;
}

.section-task-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0.8rem;
  background-color: #fff;
  gap: 2.4rem;
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.096);
}

.search-task-img {
  width: 100%;
  height: 16rem;
}

.option-button-div {
  display: flex;

  justify-content: space-between;
  padding: 0.4rem 0.6rem;

  background-color: rgba(228, 251, 255, 0.897);
  border-radius: 0.8rem;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  flex-grow: 1;
}

.padding-div {
  padding: 0 0.6rem;
  align-self: stretch;
}

.btn {
  padding: 0.8rem 1.2rem;
  border: none;
  background-color: #fff;
  cursor: pointer;
  flex-grow: 1;
}

.btn--apply {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #19d7f0;
  border-radius: 0.6rem;
  color: #fff;
}

.btn--view-detail:link,
.btn--view-detail:visited {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  color: #555;
  flex-grow: 1;
}

.btn--view-detail:hover,
.btn--view-detail:active {
  color: #666;
}

.search-task-paragraph {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.3;
  color: #333;
}

.loader {
  display: block;
  border: 1.6rem solid #888;
  border-top: 1.6rem solid #51ec82;

  border-radius: 50%;
  width: 7.2rem;
  height: 7.2rem;
  position: absolute;
  animation: spin 2s linear infinite;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: display 300ms;
}

.loader.loader--hidden {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search--input--field {
  display: flex;
  margin-bottom: 1.6rem;
  justify-content: center;
  gap: 1.2rem;
}

.job--choice {
  width: 22rem;
}

.search--task--button {
  border: none;
  padding: 0.8rem 1.4rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #7fcffa;
  cursor: pointer;
}

.search--task--button:hover {
}

/* window */

.window-task-information {
  /* border: 1px solid rgb(104, 72, 192); */
  /* min-width: 90rem;
  max-width: 90rem;
  min-height: 65rem;
  max-height: 65rem; */
  overflow-y: overlay;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 0 2.6rem; */
  background-color: rgb(255, 255, 255);
  border-radius: 1.2rem;
}

.window-grid-container {
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-columns: 1fr 20rem 1fr;
  row-gap: 1.2rem;
  column-gap: 4.8rem;
  /* align-items: center; */
}

.window-img-container {
  width: 100%;
  /* display: flex;
  flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
}

.window-img {
  width: 28.2rem;
  height: 30rem;
  /* min-width: 300px; */
  /* width: 100%; */
  /* grid-column: 1/3; */
}

.task--info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2.4rem 0 0;
}

.task-description {
  /* background-color: #19d7f0; */
  /* min-height: 60px; */
  font-size: 1.4rem;
  font-weight: 500;
  color: #333;
  line-height: 1.6;

  /* grid-column: 1/3; */
}

.tag-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* grid-column: 1/3; */
}

.btn-grp {
  flex: 1;
}

.task-tag {
  width: 100%;
  font-size: 1.2rem;
}

.btn-browse-edit {
  margin-right: 20px;
}

.btn-browse-edit,
.btn-browse-delete {
  display: inline-block;
  background-color: transparent;
  border: none;
  color: rgb(216, 58, 58);
  /* font-weight: 400; */
  flex: 1;
}

.btn-browse-edit:hover,
.btn-browse-delete:hover {
  cursor: pointer;
  color: blue;
}

.task-title {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 1.2;
  color: #333;
}

.task-details-bottom {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-column: 2/4; */
  /* grid-row: 1/2; */
  column-gap: 4.8rem;
  position: relative;
  align-items: center;
  padding: 0 1.2rem;
}

.customer-info-container {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  flex: 1;
}

.task-info-container {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  flex: 1;
}

.customer-info,
.task-info {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.customer-info-icon,
.task-info-icon {
  width: 1.8rem;
  height: 1.8rem;
}

.customer-info--text,
.task-info-text {
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
}

.tool-tip {
  width: 16rem;
  text-align: center;

  font-size: 1.2rem;
  font-weight: 500;
  display: none;
  position: absolute;
  top: -1.6rem;
  left: -150%;
  transform: translate(-50%, 0);
  background-color: #3f3f3f;
  color: #fff;
  z-index: 5;
}

.customer-info--text:hover .tool-tip,
.task-info-text:hover .tool-tip {
  display: inline-block;
  padding: 0.2rem 0.4rem;
}

.accept--button {
  width: 100%;
  position: absolute;
  bottom: 1.2rem;
  right: 1.2rem;
}

/* profile */

.profile {
  max-width: 85rem;
}

.profile-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 60rem;
  margin: 0 auto;
  padding: 2.6rem 3.2rem;
  justify-items: stretch;
  column-gap: 2.4rem;
  row-gap: 1.6rem;
  background-color: #fff;
  box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.075);
}

.form-heading {
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: 2.8rem;
  grid-column: 1/3;
  text-align: center;
  color: #333;
}

.form-span {
  color: #51ec82;
  border-bottom: 0.2rem solid #51eb82;
}

.profile-picture-form-container {
  display: flex;
  justify-content: center;
}

.profile-picture-form {
  position: relative;
  /* background-color: #08545e; */
  /* width: 100%; */
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  /* align-self: center; */
}

.profile-picture-form:hover .profile-picture-input-preview {
  opacity: 0.3;
}

.profile-picture-form:hover .upload-image-label {
  opacity: 1;
}

.profile-picture-input-preview {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}
.profile-picture-input-file:hover {
  cursor: pointer;
}

.profile-picture-input-file {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  /* background-color: #08545e; */
  opacity: 0;
  position: absolute;
  left: 0%;
}

.upload-image-label {
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 30%;
}

.form-input-divider {
  margin-bottom: 1.2rem;
}

.profile-input {
  width: 100%;
  padding: 1rem 1.4rem;
  border-radius: 0.8rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.178);
  outline: none;
}

.profile-input:focus,
.profile-input-submit:focus {
  box-shadow: 0 0 1.2rem 0.8rem rgba(98, 222, 238, 0.13);
}

.input-label {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  line-height: 1.2;
  color: #333;
}

.input-span {
  grid-column: 1/3;
}

.input-span-submit {
  grid-column: 2/3;
}

.profile-input-submit {
  width: 100%;
  background-color: #51eb82;
  border: none;
  padding: 1.2rem 2.4rem;
  grid-column: 2/3;
  cursor: pointer;
  outline: none;
}

/* post task  */

.post-task {
  max-width: 100%;
  max-height: 0;
  position: relative;
}

.post-task-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2.6rem 3.2rem;
  justify-items: stretch;
  column-gap: 2.4rem;
  row-gap: 1.6rem;
  background-color: #fff;
  box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.075);
  position: absolute;
  top: 0;
}

.location-container {
  display: flex;
  flex-direction: row;
}

.location-btn-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.input-location-tooltip {
  position: relative;
  display: inline-block;
  font-size: 1.3em;
  background-color: #83ff98;
  padding: 2px 5px;
  margin-left: 20px;
}

.input-location-tooltip:hover {
  cursor: help;
}

.input-location-tooltiptext {
  border: 0.1px dotted black;
  padding: 10px 10px;
  color: black;
  background-color: #7cfa7c;
  margin-top: 10px;
  width: 300px;
  display: block;
  position: absolute;
  z-index: 1;
  visibility: hidden;
}

.input-location-tooltip:hover .input-location-tooltiptext {
  visibility: visible;
}
.location-btn-container button {
  padding: 5px 2px;
  height: 26px;
  font-size: 13px;
  background-color: #9dd8ff;
  border: none;
  margin-top: 5px;
  cursor: pointer;
  outline: none;
  min-width: 150px;
}

.location-btn-container button:hover {
  color: white;
  border: 1px solid #08545e;
}

.map-container {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  position: absolute;
  align-items: center;
  gap: 1.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 5;
  background-color: #fff;
  border-radius: 1.6rem;
  overflow: hidden;
}

#map {
  width: 50rem;
  height: 50rem;
}

.map--btn-container {
  display: flex;
  gap: 2.4rem;
}

.map--btn {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  padding: 0.8rem 1.8rem;
  margin-bottom: 1.6rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

.save-btn {
  background-color: #69ee93;
  color: #fff;
}

.save-btn:hover {
  background-color: #51eb82;
}

.close-btn {
  background-color: #fff;
  border: 0.1rem solid #ffe066;
  color: #555;
}

.close-btn:hover {
  background-color: #ffd43b;
  color: #fff;
}

.post-task-des-input {
  min-height: 100px;
}

.post-task-input-location {
  min-height: 80px;
}

.post-task-input {
  width: 100%;
  padding: 0.5rem 1.4rem;
  border-radius: 0.8rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.178);
  outline: none;
}

.post-input-submit,
.post-input-cancel {
  width: 100%;
  background-color: #51eb82;
  border: none;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  outline: none;
  margin: 0px 10px;
}

.post-date-input-label {
  float: left;
  margin-right: 0.5em;
}

.post-date-time-span {
  display: block;
  overflow: hidden;
}

.post-date-input {
  width: 100%;
}

.post-task-input:focus,
.post-task-input-submit:focus,
.task-duration-unit-opt:focus {
  box-shadow: 0 0 1.2rem 0.8rem rgba(98, 222, 238, 0.13);
}

.date-time-div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.display-hidden {
  display: none !important;
  transform: translate(0, -50%);
}

.form-input-image-preview {
  display: flex;
  flex-wrap: wrap;
}

.form-input-image-preview img {
  width: 100px;
}

.post-task-cat-input {
  padding: 10px;
  margin-left: 5px;
  padding: 0.5rem 1.4rem;
  border-radius: 0.8rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.178);
  outline: none;
}

/* .post-task-cat-list option{
  background-color: white;
} */
.input-task-duration-container {
  display: flex;
}
.post-task-input-duration {
  flex: 1;
  margin-right: 10px;
}
.task-duration-unit-opt {
  padding: 0.5rem 1.4rem;
  border-radius: 0.8rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.178);
  outline: none;
  flex: 1;
}

.task-price-container {
  display: flex;
}

.task-price-unit-opt {
  margin-right: 10px;
  padding: 0.5rem 1.4rem;
  border-radius: 0.8rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.178);
  outline: none;
  flex: 1;
}

.post-price-input {
  flex: 3;
  margin-right: 10px;
}

.edit_post_btn_grp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/* profile modal popup  */

.profile_modal_popup_container{
  width: 80rem;
  height: 38rem;
  border: 1px solid black;
  z-index: 8;
  display: flex;
  flex-direction: column; 
  padding: 20px;
}
.profile_modal_popup_title{
  flex: 1;
  padding: 5px 0px 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile_modal_popup_title p{
  font-size: 20px;
}

.profile_modal_popup_content{
  display: flex;
  flex-direction: row;
  flex: 8;

}
.profile_modal_popup_content_left{
  overflow: auto;
  flex: 1;
}

.profile_modal_popup_content_user_list{
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 0px;
  max-height: 30rem;
}

.profile_modal_popup_content_user_list li{
  flex: 1;
  margin: 5px 0px;
  list-style: none;
  width: 100%;
  padding: 10px;
}

.profile_modal_popup_content_user_list li:hover{
  background-color: #51eb82;
}

.profile_modal_popup_content_user_li{
  font-size: 15px;
}

.profile_modal_popup_content_right{
  display: flex;
  flex-direction: column;
  flex: 2;
}

.profile_modal_popup_content_right_top{
  display: flex;
  flex-direction: row;
  flex: 2;
}

.profile_modal_popup_content_right p{
  font-size: 15px;
}

.profile_modal_popup_content_picture{
  flex: 1;
}

.profile_modal_popup_content_picture{
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.profile_modal_popup_picture_img{
  max-height: 10rem;
  max-width: 10rem;
  min-height: 10rem;
  min-width: 10rem;
  border-radius: 50%;
}

.profile_modal_popup_content_name_role{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.profile_modal_popup_content_name,.profile_modal_popup_content_role,.profile_modal_popup_content_email,.profile_modal_popup_content_contact,.profile_modal_popup_content_gender,.profile_modal_popup_content_status{
  flex: 1;
}

.profile_modal_popup_content_email_contact{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.profile_modal_popup_content_gender_status{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.profile_modal_popup_content_address{
  flex: 1;
}

.customer-info-name:hover{
  cursor: pointer;
  color: #51eb82;
}

.profile_modal_popup_close{
  font-size: 25px;
  padding: 5px 10px;
}

.profile_modal_popup_close:hover{
  cursor: pointer;
  color: #51eb82;
}

.profile_modal_popup_content_user_li:hover{
  cursor: pointer;
  color: white;
}

.profile_modal_user_list_active{
  background-color: #51eb82;
}

.profile_modal_user_list_inactive{
  background-color: transparent;
}

.window-grid-container{

}