* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* display: flex; */
  font-family: "Inter", sans-serif;
  position: relative;

  /* align-items: center;
  justify-content: center; */
  /* height: 100vh; */
  padding: 5.6rem 12.2rem;
}

.section {
  transition: display 300ms, transform 300ms;
}

.login-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 1.2rem;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.123);

  /* max-width: 120rem; */
}

.login-background {
  width: 100%;
  background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.39),
      rgba(51, 187, 211, 0.233)
    ),
    url("../img/login.jpeg");
  background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.2rem;
}

.grid-container *:focus {
  outline: none;
  box-shadow: 0 0 0.8rem 1.4rem rgba(215, 236, 250, 0.336);
}

.login-form,
.sign-up--form {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  row-gap: 3.6rem;
  padding: 3.6rem 2.8rem;
}

.form-label,
.sign-up--label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.form-input,
.sign-up--input {
  width: 100%;
  padding: 1rem 1.2rem;
  border-radius: 0.6rem;
  border: 0.1rem solid;
}

.form-input::placeholder {
  font-size: 1.6rem;
  color: #aaa;
}

.form-button {
  display: inline-block;
  padding: 1.3rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 700;

  border-radius: 1.2rem;
  border: none;
  background-color: #5a28f0;
  color: #fff;
}

.form-button:hover {
  background-color: #748ffc;

  cursor: pointer;
}

.input-holder,
.sign-up--input-field {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  width: 75%;
}

.forgot-password {
  display: flex;
  padding: 1.2rem 2.8rem;
  justify-content: space-around;
}

.forgot-password-text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
}

.reset:link,
.reset:visited {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: #7048e8;
}

.reset:hover,
.reset:active {
  color: #8d6ded;
  cursor: pointer;
}

.create-account:link,
.create-account:visited {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: #7048e8;
  justify-self: center;
  margin-bottom: 2.8rem;
}

.create-account:hover,
.create-account:active {
  color: #8d6ded;
  cursor: pointer;
}

.section-sign-up {
  max-width: 50rem;
  padding-top: 1.4rem;
  margin: 0 auto;
  box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.11);
}

.sign-up-heading {
  font-size: 2.2rem;
  font-weight: 700;
  color: #333;
  text-align: center;
}

.heading-span {
  color: #51eb82;
}

.sign-up--form .create-account-button:focus {
  outline: none;
  box-shadow: 0 0 0.8rem rgba(116, 143, 252, 0.747);
}

.sign-up-input-pattern {
  border-radius: 0;
  border-color: rgba(85, 85, 85, 0.568);
  outline: none;
  border: none;
  border-bottom: 0.1rem solid;
  transition: box-shadow 300ms, transform 300ms;
}

.sign-up-input-pattern:focus {
  box-shadow: 0 0.8rem 0.6rem rgba(0, 0, 0, 0.096);
  transform: scale(1.1);
}

.radio-label {
  font-size: 1.6rem;
  font-weight: 600;
  color: #333;
}

.radio--option {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.sign-up--radio-field {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 1.3rem;
}

.radio-title {
  font-size: 1.6rem;
  font-weight: 500;
  grid-column: 1/3;
}

.create-account-button {
  display: inline-block;
  padding: 1.4rem 1.6rem;
  background-color: #7048e8;
  border: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}

.create-account-button:hover {
  background-color: #748ffc;
}

.sign-in--navigation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  gap: 1.6rem;
}

.sign-in--question {
  font-size: 1.3rem;
  font-weight: 500;
}

.sign-in--option:link,
.sign-in--option:visited {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.sign-in--option:hover,
.sign-in--option:active {
  color: #5a28a1;
}

.section-hidden {
  display: none;
  transform: translate(0, 2.2rem);
}

.validation--popup {
  opacity: 1;
  max-width: 30rem;
  position: absolute;
  top: 60%;
  right: 3%;
  transition: opacity 300ms, transform 300ms;
}

.validation--popup.validation--hidden {
  opacity: 0;
  transform: translate(0, 1.2rem);
}

.validation--list {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
  gap: 1.4rem;
}

.validation--heading {
  font-size: 1.6rem;
  font-weight: 700;
  color: #333;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}

.validation--paragraph {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  color: #555;
}

.validation--span {
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
}

.validation--icon {
  width: 2.2rem;
  height: 2.2rem;
}

.tick {
  color: #54df45;
}

.cross {
  color: #f74343;
}
